@page "/webapi2"
@inject IWebApi1Service _webApi2Service;
@inject IFileUpload fileUpload;

<h3>Select the input file from WebApi 1</h3>
<InputFile OnChange="HandleFileSelected"></InputFile>
<br />
<br />

@if (file != null)
{
    <p>Name: @file.Name</p>
    <p>Size in Bytes: @file.Size</p>
    <p>File type: @file.Type</p>
}
<br />
<br />

<button @onclick="PostData">Post Data to API 2</button>
<br />
<h3>Response from API 2</h3>
@if (string.IsNullOrWhiteSpace(postDataResponse))
{
    <h5>loading data...  please wait</h5>
} else
{
    <h5 style="color:red">@postDataResponse</h5>
}
<br />
<br />
<h3>Search by Category</h3>
<input type="text" @bind-value="@searchItem" />
<input type="button" value="Search" @onclick="@SearchItem" />

<br />
<br />
<br />
<h3>Load all data</h3>
<button @onclick="LoadData">Load Data</button>
<br />
@if (tc_Data == null)
{
    <h5>loading data...  please wait</h5>
}
else
{
    @if (tc_Data.Any())
    {
        <table class="table">
        <thead>
            <tr>
                <th>Recall Number</th>
                <th>Manufacture Name</th>
                <th>Make Name</th>
                <th>Model Name</th>
                <th>Recall Year</th>
                <th>Manufacturer Recall Number</th>
                <th>Category (En)</th>
                <th>Category (Fr)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tc_Data)
            {
                <tr>
                    <td>@item?.RecallNumber?.ToString()</td>
                    <td>@item?.ManufactureName?.ToString()</td>
                    <td>@item?.MakeName?.ToString()</td>
                    <td>@item?.ModelName?.ToString()</td>
                    <td>@item?.RecallYear?.ToString()</td>
                    <td>@item?.ManufacturerRecallNumber?.ToString()</td>
                    <td>@item?.CategoryETXT?.ToString()</td>
                    <td>@item?.CategoryFTXT?.ToString()</td>
                </tr>
            }
        </tbody>
        </table>
    }
}

@code {
    private IEnumerable<TC_Data> tc_Data = null;
    private string postDataResponse = string.Empty;
    private string searchItem;

    IFileListEntry file;

    async Task HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file != null)
        {
            await fileUpload.UploadAsync(file);                        
        }
    }

    async Task SearchItem()
    {
        tc_Data = await _webApi2Service.Search(searchItem);
    }

    async Task PostData()
    {
        postDataResponse = await _webApi2Service.PostData();
    }
    
    async Task LoadData()
    {
        tc_Data = await _webApi2Service.LoadData();        
    }
}
